In [1]:
#%pip install sqlalchemy

In [2]:
#%pip install psycopg2-binary

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [4]:
#df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows = 100)
df = pd.read_csv('taxi_zone_lookup.csv')

In [8]:
len(df)

265

In [5]:
df.head(0)

Empty DataFrame
Columns: [LocationID, Borough, Zone, service_zone]
Index: []

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

#postgresql://user:password@host:port_number/database_name

In [7]:
engine.connect()

In [9]:
df.to_sql(name= 'zones', con = engine, if_exists="replace")

265