In [1]:
#%pip install sqlalchemy

In [2]:
#%pip install psycopg2-binary

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [6]:
df = (pd.read_csv('green_tripdata_2019-10.csv.gz', compression='gzip'))

C:\Users\pedro\AppData\Local\Temp\ipykernel_15876\2364801743.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = (pd.read_csv('green_tripdata_2019-10.csv.gz', compression='gzip'))

In [7]:
df.head(0)

Empty DataFrame
Columns: [VendorID, lpep_pickup_datetime, lpep_dropoff_datetime, store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count, trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee, improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge]
Index: []

In [8]:
df.dtypes

VendorID                 float64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID               float64
PULocationID               int64
DOLocationID               int64
passenger_count          float64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type             float64
trip_type                float64
congestion_surcharge     float64
dtype: object

In [10]:
df.lpep_pickup_datetime             = pd.to_datetime(df.lpep_pickup_datetime      )
df.lpep_dropoff_datetime            = pd.to_datetime(df.lpep_dropoff_datetime     )

In [11]:
df.dtypes

VendorID                        float64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int64
DOLocationID                      int64
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
dtype: object

In [12]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

#postgresql://user:password@host:port_number/database_name

In [13]:
engine.connect()

In [14]:
# Comando que gera o comando DDL (data definition language) de criação de uma tabela com o schema de um dataframe

print(pd.io.sql.get_schema(df, name = 'green_taxi_data', con = engine))

CREATE TABLE green_taxi_data (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [15]:
df_iter = (
    pd.read_csv('green_tripdata_2019-10.csv.gz', compression='gzip', iterator = True, chunksize = 100000)    
)

In [16]:
df = next(df_iter)

In [17]:
len(df)

100000

In [18]:
df.lpep_pickup_datetime             = pd.to_datetime(df.lpep_pickup_datetime      )
df.lpep_dropoff_datetime            = pd.to_datetime(df.lpep_dropoff_datetime     )

In [19]:
df.head(0).to_sql(name= 'green_taxi_data', con = engine, if_exists="replace")

0

In [20]:
%time df.to_sql(name= 'green_taxi_data', con = engine, if_exists="append")

CPU times: total: 10.7 s
Wall time: 18.6 s

1000

In [21]:
while True:
    t_start = time()
    
    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

    df.to_sql(name= 'green_taxi_data', con = engine, if_exists="append")

    t_end = time()

    print('inserted_another_chunk, took %.3f' % (t_end - t_start))

inserted_another_chunk, took 18.124
inserted_another_chunk, took 19.204

C:\Users\pedro\AppData\Local\Temp\ipykernel_15876\518446414.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted_another_chunk, took 18.495
inserted_another_chunk, took 11.886

StopIteration: