In [1]:
#%pip install sqlalchemy

In [2]:
#%pip install psycopg2-binary

In [2]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [3]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows = 100)

In [4]:
df.head(0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [6]:
df.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
RatecodeID                 int64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
dtype: object

In [7]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [15]:
df.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   int64
trip_distance                   float64
RatecodeID                        int64
store_and_fwd_flag               object
PULocationID                      int64
DOLocationID                      int64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
dtype: object

In [9]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

#postgresql://user:password@host:port_number/database_name

In [10]:
engine.connect()

In [11]:
# Comando que gera o comando DDL (data definition language) de criação de uma tabela com o schema de um dataframe

print(pd.io.sql.get_schema(df, name = 'yellow_taxi_data', con = engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [12]:
df_iter = (
    pd.read_csv('yellow_tripdata_2021-01.csv', iterator = True, chunksize = 100000)    
)

In [13]:
df = next(df_iter)

In [23]:
len(df)

100000

In [14]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [16]:
df.head(0).to_sql(name= 'yellow_taxi_data', con = engine, if_exists="replace")

0

In [17]:
%time df.to_sql(name= 'yellow_taxi_data', con = engine, if_exists="append")

CPU times: total: 13 s
Wall time: 18.1 s

1000

In [19]:
while True:
    t_start = time()
    
    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name= 'yellow_taxi_data', con = engine, if_exists="append")

    t_end = time()

    print('inserted_another_chunk, took %.3f' % (t_end - t_start))

inserted_another_chunk, took 17.116
inserted_another_chunk, took 17.016
inserted_another_chunk, took 17.053
inserted_another_chunk, took 16.895
inserted_another_chunk, took 16.826
inserted_another_chunk, took 17.011
inserted_another_chunk, took 16.985
inserted_another_chunk, took 16.939
inserted_another_chunk, took 17.318
inserted_another_chunk, took 17.222
inserted_another_chunk, took 17.407

C:\Users\pedro\AppData\Local\Temp\ipykernel_6036\4036052048.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted_another_chunk, took 16.740
inserted_another_chunk, took 11.182

StopIteration:

In [20]:
df_full = pd.read_csv('yellow_tripdata_2021-01.csv')

C:\Users\pedro\AppData\Local\Temp\ipykernel_6036\119204059.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_full = pd.read_csv('yellow_tripdata_2021-01.csv')

In [21]:
len(df_full)

1369765